.order {
  border: 1px solid #eee;
  padding: 1em;
  margin: 0.5em;
  width: 400px;
}

.order-row {
  margin: 10px;
  display: flex;
}

.order-header {
  flex: 1;
}

.order-description {
  flex: 1;
  font-weight: bold;
}
