<app-header></app-header>

<div class="container mt-5 mb-5 pt-5">
  <div class="container text-center" *ngIf="customer">
    <h1>Profile</h1>

    <p>
      Name: <b>{{customer.name}}</b>
    </p>

    <p>
      Points: <b>{{customer.points}}</b>
    </p>

    <p>Saved credit card:</p>
    <div class="d-flex justify-content-center">
      <app-creditcard></app-creditcard>
    </div>

    <button type="button" class="mt-3 mb-3 btn btn-lg btn-secondary" [routerLink]="['/update-card']">Update
      card</button>

    <h5 class="lead text-muted mt-3">Past orders</h5>
    <div class="orders-container d-flex justify-content-center" *ngFor="let order of orders">
      <div class="order">
        <div class="order-row">
          <div class="order-header">
            Cost
          </div>
          <div class="order-description">
            ${{order.cost}}0
          </div>
        </div>

        <div class="order-row">
          <div class="order-header">
            Payment method
          </div>
          <div class="order-description">
            {{order.payment_method}}
          </div>
        </div>

        <div class="order-row">
          <div class="order-header">
            Order status
          </div>
          <div class="order-description">
            {{order.status}}
          </div>
        </div>

        <div class="order-row">
          <div class="order-header">
            Restaurant location
          </div>
          <div class="order-description">
            {{order.restaurant_location}}
          </div>
        </div>

        <div class="order-row">
          <div class="order-header">
            Order location
          </div>
          <div class="order-description">
            {{order.location}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
