.credit-card {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 1em;
  max-width: 350px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: #eee;
}
