<app-header></app-header>

<div class="container mt-5 mb-5 pt-5" *ngIf=restaurant>
  <div class="row">
    <div class="jumbotron" style="margin: auto;">
      <div class="container text-center">
        <h1>{{restaurant.name}}</h1>
        <p class="lead text-muted">
          {{restaurant.info}}
        </p>
        <p>
          <button class="btn btn-primary my-2" (click)="goToReviews()">View reviews</button>
          <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        </p>
      </div>
    </div>
  </div>

  <!-- todos: add tabs for menus? -->
  <div class="menu-container">
    <div class="menu" *ngFor="let menu of menus">
      <h3>{{menu.name}}</h3>

      <div *ngFor="let product of menu.foods">
        <app-menu-food-card [foodName]="product.name" [food]="product" [addToCart]="addToCart"></app-menu-food-card>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
