<app-header></app-header>

<p-table [value]="reviews">
    <ng-template pTemplate="caption">
        Review
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Review ID</th>
            <th>Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-review>
        <tr>
            <td>{{promotion.pid}}</td>
            <td>{{promotion.name}}</td>
            <td>{{promotion.start_date}}</td>
            <td>{{promotion.end_date}}</td>
            <td>{{promotion.type}}</td>
            <td>{{promotion.discount_percentage}}</td>
            <!-- <td>
                <p-button label="Update" (onClick)="showDialog1(promotion)"></p-button>
                &nbsp;
                <p-button label="Delete" (onClick)="deletePromotion(promotion)"></p-button>
            </td> -->
            <!-- <td><a routerLink="/view-all-food-items/{{menu.menu_id}}">View Food Items</a></td> -->
        </tr>
    </ng-template>
</p-table>
