<app-header></app-header>

<p-button label="View Summary Orders" (onClick)="goToSummaryPage()"></p-button>

<p-table [value]="orders">
    <ng-template pTemplate="caption">
        Orders
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Order ID</th>
            <th>Order Name</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.oid}}</td>
            <td>{{order.name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.status}}</td>
            <!-- <td>
                <p-button label="Update" (onClick)="showDialog1(promotion)"></p-button>
                &nbsp;
                <p-button label="Delete" (onClick)="deletePromotion(promotion)"></p-button>
            </td> -->
            <!-- <td><a routerLink="/view-all-food-items/{{menu.menu_id}}">View Food Items</a></td> -->
        </tr>
    </ng-template>
</p-table>