.cart__container {
  display: flex;
  display: row;
}

.cart__items {
  flex: 2;
}

.cart__checkout {
  flex: 1;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}
