<app-header></app-header>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 mt-5">Let's explore good food near you.</h1>
      <p>From small bites to big meals, we won't limit your appetite. Go ahead and order all you want.
      </p>
      <p><button class="btn btn-primary btn-lg" [routerLink]="['/signup']">Sign up today! »</button></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Find the right food to suit your mood, and make the first bite last.</h2>
        <p>Large variety of cuisines, diverse
          dishes, and careful selection of premium restaurants near you </p>
      </div>
      <div class="col-md-4">
        <h2>Order lunch, fuel for meetings or late-night deliveries to the office</h2>
        <p>Among dozens of eateries, family businesses and high-class restaurants, one is often hard pressed to make a
          choice for Lunch, Breakfast or Dinner; with Sonic website, you can access the menus of over
          500 restaurants in Singapore and order your favourite meal online in just few clicks! </p>
      </div>
      <div class="col-md-4">
        <h2>It's all at your fingertips -- the restaurants you love</h2>
        <p>If you're looking for a food delivery service in Singapore that offers a nonstop indulgence whenever you want
          it, you’re just at the right spot. Founded in 2012, we've made it our goal to simplify your life by making
          food delivery as convenient and affordable as possible whilst taking you with us on a culinary journey around
          the world.</p>
      </div>
    </div>
  </div> <!-- /container -->

</main>
<app-footer></app-footer>
