<app-app-header></app-app-header>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 mt-5">Earn as you deliver food</h1>
      <p>Earn more on your own schedule by delivering food orders to hungry customers.
      </p>
      <p><a class="btn btn-primary btn-lg" role="button" [routerLink]="['/signup']">Sign up now</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Make extra money</h2>
        <p>There is always a hungry customer to deliver to. It's easy: sign up, get trained, get riding on the road
          fast.
          No vehicle? No problem!
          Sign up as a rider with us and get free bicycle rental! </p>
      </div>
      <div class="col-md-4">
        <h2>Tips?
          Yes please!</h2>
        <p>Make extra money, the tips go straight in your pocket. </p>
      </div>
      <div class="col-md-4">
        <h2>Flexible hours</h2>
        <p>Decide when to deliver and spend your time off doing what you love.</p>
      </div>
    </div>

  </div> <!-- /container -->

</main>
